/* styles.css */
.container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ccc;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: left;
  }
  
  .input {
    width: 300px;
    margin-left: 10px;
    padding: 8px;
    border: 2px solid #ccc;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  